openapi: '3.0.0'
info:
  version: 1.0.0
  title: Vadim Cu»ônir
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /decisions:
    get:
      summary: List all decisions
      operationId: listDecisions
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of decisions
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decisions'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create decision
      operationId: createDecision
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /decisions/{decisionId}:
    get:
      summary: Get specific decision
      operationId: showDecisionById
      parameters:
        - name: decisionId
          in: path
          required: true
          description: The id of the decision to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decisions'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /governance:
    get:
      summary: List governance data
      operationId: listGovernanceData
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of governance items
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GovernanceItems'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Decision:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        context:
          type: string
    Decisions:
      type: array
      items:
        $ref: '#/components/schemas/Decision'
    GovernanceItem:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        detail:
          type: string
    GovernanceItems:
      type: array
      items:
        $ref: '#/components/schemas/GovernanceItem'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string